a:hover {
  color: #000000;
  text-decoration: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #777777;
  border-color: #000000;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

