/*Import fonts from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/*=====Navbar===========*/
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.navbar-toggler{
    outline: none !important;
}
.bg-black{
    background: #000;
}

  /*======Service Section=====*/
  .service-icon{
      display: inline-block;
      font-size: 32px;
      margin-bottom: 16px;
      color: #000;
      padding: 8px 16px;
  }
  /*======End of Service Section====*/
/*===========About Section========*/
.about-sec{
  margin-top: 25px;
}
.text-color{
  color: #000;
}
.watch-img{
  margin-top: 35px;
}
.watch-img{
  animation-name: imgLeft;
  animation-duration: 3s;

}
.about-text{
  animation-name:textRight;
  animation-duration: 3s;
}
@keyframes imgLeft {
  0%{
    transform:translateX(-120px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
  
@keyframes textRight {
  0%{
    transform:translateX(30px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
/*Best Seller== */
.seller{
  background: #000;
  color: #fff;
  margin-top: 30px;
}
.img-top{
  margin-top: 10px;
}

.seller-item{
  text-align: right;

}
.seller-item p{
  position: absolute;
  right: 30px;
  left: 30px;
  padding: 10px 0;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bolder;
  cursor: pointer;
}
.seller-item p{
  bottom: 30px;
  line-height: 1.5;
  transform: translate3d(0, 100%, 0);
}
.seller-item p{
  opacity:0;
  transition: opacity 0.35s, transform 0.35s;
}

.seller-item:hover p{
  opacity: 1;
  transform: translate3d(0,0,0);
}

/* End of Best Seller==*/
/*Contact us */
.btn {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid black;
}

/* Wobble Vertical */
@-webkit-keyframes cont-btn {
  16.65% {
         transform: translateY(8px);
  }
  33.3% {
   transform: translateY(-6px);
  }
  49.95% {
      transform: translateY(4px);
  }
  66.6% {
       transform: translateY(-2px);
  }
  83.25% {
       transform: translateY(1px);
  }
  100% {
      transform: translateY(0);
  }
}
@keyframes cont-btn {
  16.65% {
    
    transform: translateY(8px);
  }
  33.3% {
    
    transform: translateY(-6px);
  }
  49.95% {
    
    transform: translateY(4px);
  }
  66.6% {
   
    transform: translateY(-2px);
  }
  83.25% {
   
    transform: translateY(1px);
  }
  100% {
   
    transform: translateY(0);
  }
}
.cont-btn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.cont-btn:hover, .cont-btn:focus, .cont-btn:active {
  
  animation-name: slide-btn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/*==Popup==*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*==Footer===*/
.footer{
  background: #000;
  color: #fff;
}
.fab{
  padding-left: 10px;
}

.register-photo {
  background: #f1f7fc;
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(meeting.jpg);
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background: #eb3b60;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
